@model List<BackOffice.Models.Domain.Course>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Fag</h2>
@Html.ActionLink("Tilføj", "AddCourse", "Courses", null, new { @class = "btn-btm-margin btn btn-primary" })

<table id="courses" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titel</th>
            <th>Underviser</th>
            <th></th>
            <th></th>
            <th class="delete-x"><b>x</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
        <tr>
            <td>@Html.ActionLink(course.Id.ToString(), "EditCourse", "Courses", new { id = course.Id }, null)</td>
            <td>@course.Title</td>
            <td>@Html.ActionLink(course.Teacher.Name, "EditTeacher", "Teachers", new { id = course.Teacher.Id }, null)</td>
            <td>@Html.ActionLink("Se elever", "GetStudents", "Classes", new { id = course.Id, title = course.Title }, new { @class = "btn btn-primary btn-xs" })</td>
            <td>@Html.ActionLink("Se registreringer", "GetRegistrations", "Classes", new { courseId = course.Id, classId = course.Classes[0].Id }, new { @class = "btn btn-primary btn-xs" })</td>
            <td>@Html.ActionLink("Slet", "DeleteCourse", "Courses", new { id = course.Id }, new { onclick = "return confirm('Er du sikker på du vil slette dette kursus?');" })</td>
        </tr>
        }
    </tbody>
</table>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#courses").DataTable();

        });
    </script>
}